<footer class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 text-center text-md-start">
                © 2014 - <script>document.write(new Date().getFullYear())</script> <strong>Washgo</strong>.
                Todos los derechos reservados.
            </div>
            <div class="col-md-6 text-center text-md-end mt-2 mt-md-0">
                Desarrollado por el equipo de
                <span class="fw-semibold">Ingeniería de Software Washgo</span>
            </div>
        </div>
    </div>
</footer>